<div class="container">
  <h2 class="mat-h2">{{ action }} Post</h2>
  <form>
    <mat-card fxLayout="column">
      <mat-form-field>
        <input name="title" [(ngModel)]="title" matInput placeholder="Post Title" />
      </mat-form-field>

      <mat-form-field>
        <textarea name="content" [(ngModel)]="content" matInput matTextareaAutosize matAutosizeMinRows="8" matAutosizeMaxRows="12" placeholder="Post Content"></textarea>
      </mat-form-field>

      <div>
        <button mat-raised-button (click)="addPost()" color="primary">{{ action }} Post</button>
        <button mat-raised-button (click)="goBack()">Cancel</button>
      </div>
    </mat-card>
  </form>
</div>
