.posts {
  margin-top: 20px;
  padding: 0 10px;
}

.post {
  margin: 15px 0;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-title {
  margin: 0;
}

.black-link {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}
