<div class="container posts">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span class="mat-title">Blog Posts</span>
    <a color="primary" mat-raised-button routerLink="posts/new">New Post</a>
  </div>

  <mat-card *ngFor="let post of posts" class="post">
    <mat-card-content>
      <strong class="title">{{ post.title }}</strong>
      <p>{{ post.content }}</p>
    </mat-card-content>
  </mat-card>

  <mat-paginator
    [length]="postsCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"></mat-paginator>
</div>
